input[type=text] {
   border:2px solid #ccc; 
   -webkit-border-radius: 5px;
   border-radius: 5px;
   width: 100%;
}

input[type=text]:focus {
   border-color:#333;
}

input[type=submit] {
   background:#ccc; 
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px; 
}

.searchBar {
    padding-top: 15px;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}



#submit:hover {
    background-color: rgb(139, 139, 139);
}

.hamburger {
    cursor: pointer;
    vertical-align: middle;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background-color: black;
}

.noselect {
    display:none;
}

.checkUntoggled {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
}

.checkToggled {
    background-color: #eee;
    border: 1px solid #eee;
    border-radius: 3px;
}

.form-group {
    width: 100%;
}

.search-terms {
    width: 70%;
}

.form-item label {
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    padding: 9px;
    font-size: 13px;
    color: rgba(0,0,0,0.8);
}



@media only screen and (max-width: 1150px) {

    .searchBar {
        padding-top: 15px;
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        margin-bottom: 15px;
    }

    .search-terms {
        width: 60%;
    }

    
}



