input[type=text] {
   padding:5px; 
   border:2px solid #ccc; 
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

input[type=text]:focus {
   border-color:#333;
}

input[type=submit] {
   padding:5px 15px; 
   background:#ccc; 
   border:0 none;
   cursor:pointer;
   -webkit-border-radius: 5px;
   border-radius: 5px; 
}

.searchResults {
    margin-top: 0px;
}

.searchBar {
    width: 20%;
    padding-top: 15px;
    margin-top: 0px;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
    border-bottom-right-radius: 30px;
}

#terms {
    width: 100%;
}

#submit {
    background-color: rgb(163, 161, 39);
}

#submit:hover {
    background-color: rgb(68, 80, 146);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    background-color: black;
}

@media only screen and (max-width: 1150px) {
    .searchBar {
        width: 100%;
        padding-top: 15px;
        margin-top: 0px;
        padding-left: 15px;
        margin-left: 15px;
        padding-right: 2px;
        margin-right: 2px;
        padding-bottom: 25px;
        margin-bottom: 15px;
        background-color: white;
        font-style: italic;
        display: inline-block;
    }

    .searchHamburger {
        display: flex;
    }

    .searchTerms {
        float: left;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .checkboxLabel {
        background-color: rgb(163, 161, 39);
        color: black;
    }

    .noselect {
        display:none;
    }

    .ham {
        padding-top: 15px;
        margin-top: 0px;
        padding-left: 2px;
        margin-left: 2px;
        padding-right: 15px;
        margin-right: 15px;
        padding-bottom: 25px;
        margin-bottom: 15px;
    }

    .form-item {
        display: block;
    }
}



